.purple-color {
  color: #f035b8;
}

.carousel-item {
  background-image: url('img/bg.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card-img-top {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.bg-glass {
  background: hsla(0, 0%, 100%, 0.15);
  backdrop-filter: blur(30px);
}

.unique-color-dark {
  background-color: #365b92 !important;
}

body {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
    650px circle at 0% 0%,
    hsl(218, 41%, 35%) 15%,
    hsl(218, 41%, 30%) 35%,
    hsl(218, 41%, 20%) 75%,
    hsl(218, 41%, 19%) 80%,
    transparent 100%
  ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
  
  color: #fff;
}
